{{!-- PAGRINDINIS IRASAS  --}}
{{!-- pagal ji bus atvaizduojami duomenys is susijusios lenteles --}}
<h1>Asmens duomenys</h1>
<form action="/zmogus" method="post">
  {{#if zmogus}}
  <input type="hidden" name="id" value="{{zmogus.id}}">
  {{/if}}
  
  <label for="vardas">Vardas<span>*</span></label><input required onfocusout="hasSpecChar('vardas', 'Vardas')" type="text" id="vardas" name="vardas" value="{{zmogus.vardas}}"><br>
  <label for="pavarde">Pavardė<span>*</span></label><input required onfocusout="hasSpecChar('pavarde', 'Pavardė')" type="text" id="pavarde" name="pavarde" value="{{zmogus.pavarde}}"><br>
  <label for="gimData">Gimimo data<span>*</span></label><input required type="date" id="gimData" name="gimData" value="{{dateFormat zmogus.gim_data}}"><br>
  <label for="alga">Alga:</label><input onfocusout="checkAlga()" type="number" name="alga" id="alga" value="{{zmogus.alga}}"><br>

  {{!-- <input class="form-button" type="submit" value="Saugoti"> --}}
  <button class="form-button" type="submit">Saugoti</button>
  <a class="form-button" href="/zmones">Atšaukti</a>
  {{!-- <form method="get" action="/zmones">
        <button class="form-button" type="submit">Atšaukti</button>
  </form> --}}
</form>

{{!-- SUSIJUSIOS LENTELES DUOMENYS --}}
<div class="left-pane">
    {{#if zmogus}}
    <h2>Adresai:</h2>
    <a href="/adresas?zmogusId={{zmogus.id}}">Naujas adresas</a>
    {{/if}}
    {{#if adresai}}
    <table>
    {{!-- lenteles headerio formavimas --}}
    <tr>
        <th>Adresas</th>
        <th>Miestas</th>
        <th>Valstybė</th>
        <th>Pašto kodas</th>
        <th></th>
    </tr>
    {{!-- lenteles eiluciu formavimas --}}
    {{#each adresai}}
    <tr>
        <td><a href="/adresas/{{id}}">{{adresas}}</a></td>
        <td><a href="/adresas/{{id}}">{{miestas}}</a></td>
        <td><a href="/adresas/{{id}}">{{valstybe}}</a></td>
        <td><a href="/adresas/{{id}}">{{pasto_kodas}}</a></td>
        <td><a href="/adresas/{{id}}/del"><i class="icon-trash"></i></a></td>
    </tr>
    {{/each}}
    </table>
    {{/if}}
</div>


{{!-- SUSIJUSIOS LENTELES DUOMENYS --}}
<div class="right-pane">
    {{#if zmogus}}
    <h2>Kontaktai:</h2>
    <a href="/kontaktas?zmogusId={{zmogus.id}}">Naujas kontaktas</a>
    {{/if}}
    {{#if kontaktai}}
    <table>
    {{!-- lenteles headerio formavimas --}}
    <tr>
        <th>Tipas</th>
        <th>Reikšmė</th>
        <th></th>
    </tr>
    {{!-- lenteles eiluciu formavimas --}}
    {{#each kontaktai}}
    <tr>
        <td><a href="/kontaktas/{{id}}">{{tipas}}</a></td>
        <td><a href="/kontaktas/{{id}}">{{reiksme}}</a></td>
        <td><a href="/kontaktas/{{id}}/del"><i class="icon-trash"></i></a></td>
    </tr>
    {{/each}}
    </table>
    {{/if}}
    <script src="/public/js/clientSideDataValidation.js"></script>
</div>