<h1>Žmonių sąrašas</h1>
<a href="/zmogus">Įvesti naują žmogų</a>
{{!-- <form method="get" action="/zmogus">
        <button type="submit">Naujas žmogus</button>
</form> --}}

<table>
  <tr>
    <th>Vardas</th>
    <th>Pavardė</th>
    <th>Gimimo data</th>
    <th>alga</th>
    <th></th>
  </tr>
  {{#each zmones}}
  <tr>
    <td><a href="/zmogus/{{id}}">{{vardas}}</a></td>
    <td><a href="/zmogus/{{id}}">{{pavarde}}</a></td>
    <td><a href="/zmogus/{{id}}">{{dateFormat gim_data}}</a></td>
    <td><a href="/zmogus/{{id}}">{{alga}}</a></td>
    <td><a href="/zmogus/{{id}}/del"><i class="icon-trash"></i></a></td>
  </tr>  
  {{/each}}
</table>
{{!-- <a href="/">Pagrindinis</a> --}}